$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

//My images
$background-image-main: image-url('bw_back_medium.jpg', false, false);
$background-image-resume: image-url('resume_back_medium.jpg', false, false);
$background-image-contact: image-url('contact_back_medium.jpg', false, false);
$background-image-portfolio: image-url('resume_back_medium.jpg', false, false);

$default-background-size: 100% auto;
$min-height-background-img: 600px;
//My Overrides
$font-family-sans-serif: Open Sans;
$link-color: #78a4ca;
$brand-primary: #466785;

//My imports
@import "compass/css3";
@import "compass/utilities/general/min";
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700|Josefin+Sans:300,400,600,700,300italic,400italic,600italic,700italic|Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,800,400,600);

//My Mixins
@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//My stuff
html {
  -webkit-transition: background-image 1.0s ease-in-out;
  -moz-transition: background-image 1.0s ease-in-out;
  -o-transition: background-image 1.0s ease-in-out;
  -ms-transition: background-image 1.0s ease-in-out;
  transition: background-image 1.0s ease-in-out;
}

/* PORTFOLIO SCSS */
.portfolio-bg {
  background: $background-image-portfolio no-repeat center center fixed;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.portfolio-container {
  @include alpha-attribute('background-color', rgba(#000000, 0.6), #000000);

  #tabs li:hover {
    cursor: pointer;
  }

  #tabcontent {
    margin-top:20px;
  }

  .tab-content {

  }

  .img-responsive {
    float: left;
    margin-right: 10px;
  }

  .list-group-item {
    color:white;
    @include alpha-attribute('background-color', rgba(#000000, 0.4), #000000);
    @include alpha-attribute('border-color', rgba(#FFFFFF, 0.1), #FFFFFF);

  }
  a.list-group-item .list-group-item-heading {
    color:white;
  }

  a.list-group-item:hover, a.list-group-item:focus {
    color: white;
    @include alpha-attribute('background-color', rgba(#FFFFFF, 0.2), #FFFFFF);
    @include alpha-attribute('border-color', rgba(#FFFFFF, 0.1), #FFFFFF);
  }

}

/* RESUME SCSS */
.resume-bg {
  background: $background-image-resume no-repeat center center fixed;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.resume-container {
  @include alpha-attribute('background-color', rgba(#000000, 0.6), #000000);

  //Styling related to resume format
  ul {
    padding: 0;
    list-style-type: none;
  }

  ul {

    .resume-header {
      border-bottom: 1px solid white;
      margin-top: 10px;
      font-size: 30px;
    }

    li {
      //MAIN CATEGORY LIKE EDUCATION, EXPERIENCE
      font-weight:bold;
      border-bottom: 1px dotted #515151;
      //background-color: purple;


      .initiatives-list {
        li {
          font-weight: normal;
          list-style-type: circle;
          margin-left: 20px;
          font-size: 12px;
        }
      }

      ul{
        //SCHOOL UL
        .unstyle-location {
          font-weight: normal;
        }
        .education-major {
          font-weight: normal;
          font-style: italic;
        }
        li {
          //SCHOOL LI
          font-weight: bold;
          //background-color: green;
          border-bottom: none;



          ul li {
            //SCHOOL DESCRIPTIVE LIST
            //background-color: orange;
            font-weight: normal;
            font-size: 12px;
            list-style-type: circle;
            margin-left: 20px;
          }

        }
      }

    }

  }
}

/* CONTACT FORM SCSS */
.contact-bg {
  background: $background-image-contact no-repeat center center fixed;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact-container {
  @include alpha-attribute('background-color', rgba(#000000, 0.6), #000000);
  input {
    @include alpha-attribute('background-color', rgba(#FFFFFF, 0.2), #FFFFFF);
    @include alpha-attribute('border-color', rgba(#FFFFFF, 0.2), #FFFFFF);
    color: #FFFFFF;
  }
  textarea {
    @include alpha-attribute('background-color', rgba(#FFFFFF, 0.2), #FFFFFF);
    @include alpha-attribute('border-color', rgba(#FFFFFF, 0.2), #FFFFFF);
    color: #FFFFFF;
  }
  button {
    background: none;
    color: white;
    margin-bottom:15px;
  }
}

/* INDEX PAGE SCSS!!!!!!!!!!!! */

.main-bg {
  background: $background-image-main no-repeat center center fixed;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full-page {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

/* NG VIEW ANIMS */
div[ng-view].ng-enter {
  animation: fadeIn 1s;
}

div[ng-view].ng-leave {
  animation: fadeOut 1s;
}

/* Header shiz */
.name-title {
  display: flex;
  align-items: center;

  img {
    margin-left: 20px;
  }

  h1 {
    color: white;
    font-family: Quicksand;
    padding: 20px;
    margin: 0;
    font-size: 30px;
  }
}
.background {
  /*@include background-image($background-image-top);*/
  /*position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  min-height: 600px;
  display: block;
  box-sizing: border-box;*/
  height: 100%;
  @include min-height(600px);

  .header-content {
    //padding-top: 20px;
    /* border: 3px solid white; */
    color: white;



    nav {
      height: 40px;
      width: 100%;
      /*background: #455868;*/
      @include alpha-attribute('background-color', rgba(#455868, 0.4), black);
      font-size: 18px;
      font-family: Josefin Sans;
      font-weight: 300;
      position: relative;
      /*border-bottom: 2px solid #283744;*/
      ul {
        padding: 0;
        margin: 0 auto;
        width: 600px;
        height: 40px;
      }
      li {
        display: inline;
        float: left;
        a {
          /*border-right: 1px solid #576979;*/
          box-sizing:border-box;
          -moz-box-sizing:border-box;
          -webkit-box-sizing:border-box;
        }
      }
      li:last-child a {
        border-right: 0;
      }
      a {
        color: #fff;
        display: inline-block;
        width: 150px;
        text-align: center;
        text-decoration: none;
        line-height: 40px;
        text-shadow: 1px 1px 0px #283744;
      }
      a:hover, a:active {
        /*background-color: #8c99a4;*/
        @include alpha-attribute('background-color', rgba(#8c99a4, 0.3), black);
      }
      a#pull {
        display: none;
      }
    }

    @media screen and (max-width: 600px) {
      nav {
        height: auto;
      }
      nav ul {
        width: 100%;
        display: block;
        height: auto;
      }
      nav li {
        width: 50%;
        float: left;
        position: relative;
      }
      nav li a {
        border-bottom: 1px solid #576979;
        border-right: 1px solid #576979;
      }
      .quickFixNoBottomLine {
        border-bottom: none;
      }
      nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
      }
    }
  }

  //End header

  //Begin other shit

  .main-content {
    color: white;
    margin-top: 10px;
    position: absolute;
    width: 100%;
  }
}

//HOME PAGE
.home-content {
  margin-top:350px;
  margin-left:20%;
  margin-right:20%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Open Sans;
  border: 1px solid white;
//  border-left: 5px solid;
//  border-right: 5px solid;
//  @include alpha-attribute('border-color', rgba(#455868, 0.4), black);
//  @include alpha-attribute('background-color', rgba(black, 0.3), white);
  h1 {
    font-weight: 700;
  }
  h3 {
    margin-bottom: 20px;
  }
  small {
    color: white;
  }
}
@media screen and (max-width: 775px) {
  .home-content {
    margin-left:5%;
    margin-right:5%;
  }
}
@media screen and (max-width: 525px) {
  @media screen and (max-height: 700px) {
    .home-content {
      margin-top:150px;
    }
  }
}
@media screen and (max-height: 630px) {
  .home-content {
    margin-top:150px;
  }
}


/* Space out content a bit */
body {
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 960px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

//STUFFF
//REBOXXXXXXXXXXXXXXXXXXXXX

.rebox { cursor: pointer; position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 1000; -webkit-filter: none !important;
  background: rgb(0, 0, 0); /* IE Fallback (Solid Colour) */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAIElEQVQ4T2NkYGDYDMRkA8ZRAxhGw4BhNAyA+WAYpAMAIFgLQfO9BoEAAAAASUVORK5CYII=);
  background: rgba(0, 0, 0, 0.7); }
.rebox *{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; }
.rebox-contents { position: absolute; top: 5%; left: 5%; text-align: center; width: 90%; height: 90%; }
.rebox-contents .rebox-content { border: 5px solid #fff; box-shadow: 0 0 20px #000; border-radius: 1px; max-width: 100%; max-height: 100%; }
.rebox-loading { width: 31px; height: 31px; margin: -16px 0 0 -16px; position: absolute; top: 48%; left: 50%; }
.rebox-caption { display: none; position: absolute; left: 0; bottom: 0; width: 100%; text-align: center; z-index: 1000; background: #000; background: rgba(0,0,0,0.7); }
.rebox-caption p { margin: 0 auto; max-width: 70%; display: inline-block; *display: inline; *zoom: 1; padding: 10px; color: #fff; font-size: 12px; line-height: 18px; }

.rebox-button { position: absolute; z-index: 9999; min-width: 40px; height: 40px; line-height: 40px; background: rgb(0, 0, 0); opacity:0.4;
  text-decoration: none; font-size: 24px; color: #fff; text-align: center; vertical-align: middle;
  -webkit-border-radius: 32px; -moz-border-radius: 32px; -ms-border-radius: 32px; border-radius: 32px;
  -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; transition: all 0.3s; }
.rebox-button:hover,
.rebox-button:focus { opacity: 1; -webkit-transform: scale(1.4); -moz-transform: scale(1.4); -ms-transform: scale(1.4); transform: scale(1.4); }
.rebox-close { right: 10px; top: 10px; }
.rebox-next { right: 10px; top: 48%; }
.rebox-prev { left: 10px; top: 48%; }
.rebox-loading { left: 50%; top: 48%;
  -webkit-animation-name: spin; -webkit-animation-duration: 2000ms; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear;
  -moz-animation-name: spin; -moz-animation-duration: 2000ms; -moz-animation-iteration-count: infinite; -moz-animation-timing-function: linear;
  -ms-animation-name: spin; -ms-animation-duration: 2000ms; -ms-animation-iteration-count: infinite; -ms-animation-timing-function: linear;
  animation-name: spin; animation-duration: 2000ms; animation-iteration-count: infinite; animation-timing-function: linear;
}

@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}

//END REBOX

//START SWIPEBOX

/*! Swipebox v1.2.8 | Constantin Saguin csag.co | MIT License | github.com/brutaldesign/swipebox */
html.swipebox-html.swipebox-touch {
  overflow: hidden !important;
}

#swipebox-overlay img {
  border: none !important;
}

#swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999 !important;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#swipebox-slider {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  display: none;
}
#swipebox-slider .slide {
  background: url(../img/loader.gif) no-repeat center center;
  height: 100%;
  width: 100%;
  line-height: 1px;
  text-align: center;
  display: inline-block;
}
#swipebox-slider .slide:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}
#swipebox-slider .slide img, #swipebox-slider .slide .swipebox-video-container {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  vertical-align: middle;
}
#swipebox-slider .slide .swipebox-video-container {
  background: none;
  max-width: 1140px;
  max-height: 100%;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

#swipebox-action,
#swipebox-caption {
  position: absolute;
  left: 0;
  z-index: 999;
  height: 50px;
  width: 100%;
}

#swipebox-action {
  bottom: -50px;
}
#swipebox-action.visible-bars {
  -ms-transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}
#swipebox-action #swipebox-prev,
#swipebox-action #swipebox-next,
#swipebox-action #swipebox-close {
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  border: none !important;
  text-decoration: none !important;
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
}
#swipebox-action #swipebox-prev {
  background-position: -32px 13px;
  right: 100px;
}
#swipebox-action #swipebox-next {
  background-position: -78px 13px;
  right: 40px;
}
#swipebox-action #swipebox-close {
  background-position: 15px 12px;
  left: 40px;
}
#swipebox-action #swipebox-prev.disabled,
#swipebox-action #swipebox-next.disabled {
  opacity: 0.3;
}

#swipebox-caption {
  top: -50px;
  text-align: center;
}
#swipebox-caption.visible-bars {
  -ms-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

#swipebox-slider.rightSpring {
  -webkit-animation: rightSpring 0.3s;
  animation: rightSpring 0.3s;
}

#swipebox-slider.leftSpring {
  -webkit-animation: leftSpring 0.3s;
  animation: leftSpring 0.3s;
}

@-webkit-keyframes rightSpring {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: -30px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes rightSpring {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: -30px;
  }

  100% {
    margin-left: 0px;
  }
}
@-webkit-keyframes leftSpring {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: 30px;
  }

  100% {
    margin-left: 0px;
  }
}
@keyframes leftSpring {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: 30px;
  }

  100% {
    margin-left: 0px;
  }
}
@media screen and (max-width: 800px) {
  #swipebox-action #swipebox-close {
    left: 0;
  }

  #swipebox-action #swipebox-prev {
    right: 60px;
  }

  #swipebox-action #swipebox-next {
    right: 0;
  }
}
/* Skin
--------------------------*/
#swipebox-overlay {
  background: #0d0d0d;
}

#swipebox-action,
#swipebox-caption {
  text-shadow: 1px 1px 1px black;
  background-color: #0d0d0d;
  background-color: #0d0d0d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0d0d0d), to(black));
  background-image: -webkit-linear-gradient(top, #0d0d0d, black);
  background-image: linear-gradient(to bottom, #0d0d0d, black);
  opacity: 0.95;
}

#swipebox-action {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#swipebox-caption {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white !important;
  font-size: 15px;
  line-height: 43px;
  font-family: Helvetica, Arial, sans-serif;
}


//END SWIPEBOX