<div class="container portfolio-container">
  <div class="page-header">
    <h1><a href="#/portfolio">Portfolio</a> > Florida Keys 2014!</h1>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div id="gallery" >
        <a href="images/photography/floridakeys/DSCF0021.JPG" class="swipebox" title="My Caption">
          <img alt="The Atlantic..." src="images/photography/floridakeys/thumbs/DSCF0021_t.jpg"/>
        </a>
        <a href="images/photography/floridakeys/DSCF0048.JPG" class="swipebox" title="My Caption">
          <img alt="The Atlantic..." src="images/photography/floridakeys/thumbs/DSCF0048_t.jpg"/>
        </a>
        <!-- other images... -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1></h1>
      <p></p>
    </div>
  </div>

  <!-- Modal -->
  <!---->
  <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
  <!--<div class="modal-dialog">-->
  <!--<div class="modal-content">-->
  <!--<div class="modal-header">-->
  <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
  <!--<h4 class="modal-title" id="myModalLabel">Cool</h4>-->
  <!--</div>-->
  <!--<div class="modal-body">-->
  <!--<img src="images/pixwebsite1.jpg" alt="Pixel website template from long ago...">-->
  <!--</div>-->
  <!--<div class="modal-footer">-->
  <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

</div>

