<div class="container portfolio-container">
  <div class="page-header">
    <h1><a href="#/portfolio">Portfolio</a> > Past artwork</h1>
  </div>

  <div id="gallery">
    <div class="row">
      <div class="col-sm-4">
        <a href="images/starburst.jpg" title="Starburst made by Lightwave in 2003. These abstract 'starbursts' were quite popular and incorporated into a lot of web designs.">
          <img src="images/starburst.jpg" class="img-responsive img-thumbnail">
        </a>
      </div>
      <div class="col-sm-4">
        <a href="images/rectangle.jpg" title="Rectangle Burst made by Lightwave in 2003. These abstract 'starbursts' were quite popular and incorporated into a lot of web designs.">
          <img src="images/rectangle.jpg" class="img-responsive img-thumbnail">
        </a>
      </div>
      <div class="col-sm-4">
        <a href="images/roomcolor.png" title="My room in pixel art form made by Photoshop in 2002. Pixel art saw a rise in popularity during this time (see 'Habbo Hotel')">
          <img src="images/roomcolor.png" class="img-responsive img-thumbnail">
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1></h1>
      <p></p>
    </div>
  </div>

  <!-- Modal -->
  <!---->
  <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
  <!--<div class="modal-dialog">-->
  <!--<div class="modal-content">-->
  <!--<div class="modal-header">-->
  <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
  <!--<h4 class="modal-title" id="myModalLabel">Cool</h4>-->
  <!--</div>-->
  <!--<div class="modal-body">-->
  <!--<img src="images/pixwebsite1.jpg" alt="Pixel website template from long ago...">-->
  <!--</div>-->
  <!--<div class="modal-footer">-->
  <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

</div>

