<div class="container portfolio-container">
  <div class="page-header">
    <h1><a href="#/portfolio">Portfolio</a> > Past websites</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="media">
        <a class="pull-left" href="http://www.john-park.net/flonomix-bootstrap">
          <img class="media-object" src="images/flonomixthumb.jpg" alt="Flonomix Bootstrap">
        </a>

        <div class="media-body">
          <h4 class="media-heading">Flonomix Website Redesign Concept</h4>

          <p><strong>Languages:</strong> HTML5, CSS3, Javascript, PHP</p>

          <p><strong>Description:</strong> I found out about <a href="http://getbootstrap.com">Bootstrap</a> from a
            co-worker and wanted to learn how to use it effectively to quickly produce decent looking sites or site
            mockups. In quasi-layman's terms, Bootstrap is essentially a package with pre-made CSS and a few Javascript
            plugins meant to be used to kick-start development of a website without having to start from scratch. Much
            of this Flonomix website is straight Bootstrap. There's a bit of jQuery used to do some form validation, an
            AJAX call to a PHP script, and I wrote a small PHP script to be able to mail the form contents and respond
            with an HTML page if AJAX/Javascript isn't supported by the browser.</p>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="images/pixwebsite1.jpg" id="pixedesign1">
          <img class="media-object" src="images/pixwebsite1.jpg" alt="Pixel website template from long ago..." width="200px">
        </a>

        <div class="media-body">
          <h4 class="media-heading">Pixel-design website template</h4>

          <p><strong>Image:</strong> from an old PSD file</p>

          <p><strong>Description:</strong> Found this relic from 2003. Microscopic pixel fonts, microscopic content widths, pastels, and 1-pixel-width lines were the trend back then.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1></h1>
      <p></p>
    </div>
  </div>

  <!-- Modal -->
  <!---->
  <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
      <!--<div class="modal-content">-->
        <!--<div class="modal-header">-->
          <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
          <!--<h4 class="modal-title" id="myModalLabel">Cool</h4>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
          <!--<img src="images/pixwebsite1.jpg" alt="Pixel website template from long ago...">-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
          <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

</div>

