<div class="container portfolio-container">
  <div class="page-header">
    <h1>My work <small>projects, passions, musings</small></h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- Nav tabs -->
      <ul class="nav nav-pills nav-justified" role="tablist" id="tabs">
        <li class="active"><a data-target="#writings" role="tab" data-toggle="tab">Writings</a></li>
        <li><a data-target="#photo" role="tab" data-toggle="tab">Photography</a></li>
        <li><a data-target="#misc" role="tab" data-toggle="tab">Misc. Projects</a></li>
        <li><a data-target="#archive" role="tab" data-toggle="tab">Archive</a></li>
      </ul>
    </div>
  </div>

  <div class="row" id="tabcontent">
    <div class="col-md-12">
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade in active" id="writings">
          <div class="list-group">
            <a href="http://link.springer.com/article/10.1007%2Fs10295-012-1178-x" class="list-group-item">
              <img src="images/jimb.jpg" class="img-responsive" width="64px">
              <h4 class="list-group-item-heading">Synthesis of methyl ketones by metabolically engineered <em>Escherichia coli</em></h4>
              <p class="list-group-item-text">Park, John et al. "Synthesis of methyl ketones by metabolically engineered <em>Escherichia coli</em>". Journal of Industrial Microbiology & Biotechnology 2012, DOI: 10.1007/s10295-012-1178-x. </p>
            </a>
            <a href="ms_thesis_johnpark.pdf" class="list-group-item">
              <img src="images/rice.jpg" class="img-responsive" width="64px">
              <h4 class="list-group-item-heading">Master's Thesis</h4>
              <p class="list-group-item-text">Entitled "Engineering <em>Escherichia coli</em> for the production of polyketide-based platform chemicals". A thesis submitted
                in partial fulfillment of the requirements for the degree of
                Master of Science at Rice University.</p>
            </a>
          </div>
        </div>
        <div class="tab-pane fade" id="photo">
            <div class="list-group">
              <a href="#/florida-keys" class="list-group-item">
                <h4 class="list-group-item-heading">2014 Florida Keys Trip</h4>
              </a>
              <a href="" class="list-group-item">
                <h4 class="list-group-item-heading">2014 New Orleans</h4>
                <p class="list-group-item-text">TODO: Upload</p>
              </a>
              <a href="" class="list-group-item">
                <h4 class="list-group-item-heading">Family Photoshoot (or "Two Cats and a Dog")</h4>
                <p class="list-group-item-text">TODO: Upload</p>
              </a>
            </div>
        </div>
        <div class="tab-pane fade" id="misc">
            <div class="list-group">
              <a href="" class="list-group-item">
                <h4 class="list-group-item-heading">Money Owed Tracker Mobile App</h4>
                <p class="list-group-item-text">Currently in development.</p>
              </a>
              <a href="" class="list-group-item">
                <h4 class="list-group-item-heading">This Website</h4>
                <p class="list-group-item-text">Made with Yeoman, AngularJS, Bootstrap, and Sass/Compass.</p>
              </a>
              <a href="images/mutagenesis.swf" class="list-group-item">
                <img src="images/mutagenesis.jpg" class="img-responsive" width="64px">
                <h4 class="list-group-item-heading">Creating random mutagenesis libraries</h4>
                <p class="list-group-item-text">Researched and applied a technique to introduce random mutations in populations of bacteria in order to increase variation. Selected those from the mutated populations with desired phenotypes. Similar to a process of forced and accelerated evolution.</p>
              </a>
              <a href="flexibar.pdf" class="list-group-item">
                <img src="images/flexibar.jpg" class="img-responsive" width="64px">
                <h4 class="list-group-item-heading">Flexibar design for wheelchair football</h4>
                <p class="list-group-item-text">Designed and prototyped in 2004 for an Engineering Design project at Northwestern University. The Flexibar was designed to allow wheelchair football participants to use both arms to move while carrying the football.</p>
              </a>
              <a href="images/reporterstrains.swf" class="list-group-item">
                <img src="images/reporterstrainspreview.png" class="img-responsive" width="64px">
                <h4 class="list-group-item-heading">Reporter strain presentation</h4>
                <p class="list-group-item-text">Made in 2004 (high school) for a senior research project. Presentation on the creation of reporter strains using bacteriophages.</p>
              </a>
            </div>
        </div>
        <div class="tab-pane fade" id="archive">
          <div class="list-group">
            <a href="#/pastwebsites" class="list-group-item">
              <h4 class="list-group-item-heading">Past Websites</h4>
              <p class="list-group-item-text">Mostly websites made to test-drive cool web-related things or design-oriented streams-of-consciousness</p>
            </a>
            <a href="#/pastartwork" class="list-group-item">
              <h4 class="list-group-item-heading">Past Random Artwork</h4>
              <p class="list-group-item-text">Lots of computer-based artwork I made in the early to mid 2000s. Mainly used Lightwave and Photoshop.</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

