<div class="container resume-container">
  <div class="page-header">
    <h1>Resume <small><a href="resume_johnpark.pdf">PDF version</a></small></h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li class="resume-header">Education</li>
        <li>
          <ul>
            <li>Rice University <span class="pull-right unstyle-location">Houston, TX</span></li>
            <span class="education-major">M.S. in Chemical Engineering <span class="pull-right">Aug. 2008 - May 2011</span></span>
            <li>
              <ul>
                <li>Ray and Camille Simpson Fellowship</li>
                <li>Rice University Fellowship</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <ul>
            <li>Northwestern University <span class="pull-right unstyle-location">Evanston, IL</span></li>
            <span class="education-major">B.S. in Chemical Engineering <span class="pull-right">Sep. 2004 - June 2008</span></span>
            <li>
              <ul>
                <li>Engineering Honors Program</li>
                <li>Northern Trust Scholarship</li>
                <li>Theta Chi, Delta Iota Chapter, Scholarship Chair</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="resume-header">Experience</li>
        <li>
          <ul>
            <li>Hitachi Consulting <span class="pull-right unstyle-location">Houston, TX</span></li>
            <span class="education-major">Senior Consultant <span class="pull-right">May 2012 - Present</span></span>
            <li>
              <ul>
                <li>Led a team of three consultants on a $5 million business intelligence project, building a data warehouse for over 450 properties of a dining, entertainment, gaming, and hospitality company.</li>
                <li>Managed on-shore and off-shore resources to deliver two mobile applications and an account management website for a customer loyalty program with over one million users.</li>
                <li>Chaired the community outreach committee and coordinated with Hitachi High Technologies to roll-out STEM education initiatives in Houston elementary schools. Spearheaded an annual food drive benefiting the Houston Food Bank and raised over $5,000 in four weeks.</li>
                <li>Chaired the local office’s professional growth group comprising of over 100 active members. Led the creation of several initiatives, including an education mixer for new hires, monthly technology labs, presentation and public-speaking workshops, and book clubs.</li>
                <li>Actively involved in Houston campus recruiting at two local universities. Reviewed over 200 resumes and conducted group lunch interviews with over 80 candidates.  Presented at on-campus information sessions and at the new hire orientation for the 2014 North America intake.</li>
                <li>Achieved the highest overall performance rating during annual reviews, and became first in hiring class to receive the senior consultant title through an accelerated promotion.</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <!--
      <h3>Education</h3>
      <h4>Rice University <small><span class="pull-right">May 2011 - Present</span></small></h4>
      <p>
        Ray and Camille Simpson Fellowship
        Rice University Fellowship
      </p>

      <p>Blah</p>
      -->
    </div>
    <div class="col-md-6">
      <ul>
        <li class="resume-header">Experience <span style="font-style:italic">(cont.)</span></li>
        <li>
          <ul>
            <li>Flonomix <span class="pull-right unstyle-location">Hillsboro, OR</span></li>
            <span class="education-major">Advisor <span class="pull-right">Jun. 2011 - Apr. 2012</span></span>
            <li>
              <ul>
                <li>Planned and executed a one-year turn-around plan involving a direct marketing campaign to over 200 engineering firms, informational seminars, and website redesign, resulting in a return to profitability.</li>
                <li>Refreshed outdated IT infrastructure and expanded the hardware capabilities of the computing cluster to accommodate expected increases in the project pipeline.</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <ul>
            <li>Center for Biorenewable Chemicals <span class="pull-right unstyle-location">Houston, TX</span></li>
            <span class="education-major">Graduate Researcher <span class="pull-right">Jan. 2009 - May 2011</span></span>
            <li>
              <ul>
                <li>Designed and executed a 2-year research project to engineer Escherichia coli for the bio-production of platform chemicals from sugars. Collaborated with faculty across 3 universities and published first-author paper on findings.</li>
                <li>Wrote monthly research reports and presented at two annual NSF site visits, contributing to funding renewal.</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="resume-header">Initiatives & Achievements</li>
        <li>
          <ul class="initiatives-list">
            <li>Society of Actuaries Exam P Passing Candidate (2014)</li>
            <li>Community Leadership and Project Excellence awards, Hitachi Consulting (2013)</li>
            <li>Engineer-In-Training (EIT) certification in Texas (2013)</li>
            <li>Publication: Park, John et al. "Synthesis of methyl ketones by metabolically engineered Escherichia coli". Journal of Industrial Microbiology & Biotechnology (2012)</li>
            <li>Graduate Student Advisor, Research Experience for Undergrads (REU), Rice University (2010)</li>
            <li>Social Chair, Chemical Engineering Graduate Student Association, Rice University (2010)</li>
            <li>Judge, International Sustainable World Energy Engineering Environment Project Olympiad (2009-2010)</li>
          </ul>
        </li>
      </ul>
      <!--
      <h3>Education</h3>
      <h4>Rice University <small><span class="pull-right">May 2011 - Present</span></small></h4>
      <p>
        Ray and Camille Simpson Fellowship
        Rice University Fellowship
      </p>

      <p>Blah</p>
      -->
    </div>
  </div>
</div>